.popup__container {
  background-color: #ffffff;
  position: relative;
  max-width: 430px;
  min-height: 330px;
  border-radius: 13px;
}


@media screen and (max-width: 700px) {
  .popup__container {
    max-width: 282px;
    min-height: 322px;
  }
}
